@font-face {
    src: url("/fonts/SFDigitalReadout-Medium.ttf");
    font-family: "Digital";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #111214;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 50px;
    opacity: 0;
    animation: intro 1s linear;
    -webkit-animation: intro 1s linear;
}

.main-menu {
    display: none;
    width: 50%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.start-level-btn {
    width: 100px;
    height: 25px;
}

.game {
    display: none;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
}

.game > div {
    width: 100%;
}

.game__stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 1;
    border-bottom: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(146, 233, 240);
    font-family: "Digital", monospace;
    font-size: 1.3em;
}

.game__stats > div {
    height: 50%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.game__box {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    order: 2;
    cursor: none;
}

.game__box > table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background: url("/images/galaxy.jpg");
    background-repeat: repeat;
    background-position: 0px 0px;
    order: 2;
}

.game__control {
    order: 3;
    border-top: 1px solid #ddd;
}


.game__box table tr td {
    border: 1px solid #111214; /* fallback for browsers without rgba borders */
    border: 1px solid #11121460; 
    color: white;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.game__box > #entity-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(248, 135, 69, 0.336)
}

#entity-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

#entity-box svg {
    position: absolute;
}

/*.coin {
    animation: coin-anim 1s linear infinite;
}

.coin-delay0 { animation-delay: 0s;}
.coin-delay1 { animation-delay: 0.2s;}
.coin-delay2 { animation-delay: 0.4s;}
.coin-delay3 { animation-delay: 0.6s;}
*/
@keyframes intro {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes intro {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes coin-anim {
    0% { transform: translateY(-1px); }
    25% { transform: translateY(0); }
    50% { transform: translateY(1px); }
    75% { transform: translateY(0); }
    100% { transform: translateY(-1px); }
}