* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #111214;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 50px;
    opacity: 0;
    animation: intro 1s linear;
    -webkit-animation: intro 1s linear;
}

.main-menu {
    display: none;
    width: 50%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.start-level-btn {
    width: 100px;
    height: 25px;
}

.game {
    display: none;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
}

.game__box {
    position: relative;
    width: 100%;
    height: 100%;
    order: 2;
    cursor: none;
}

.game > div {
    width: 100%;
}

.game__stats {
    order: 1;
    border-bottom: 1px solid #ddd;
}

.game__box > table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background: url("/images/galaxy.jpg");
    background-repeat: repeat;
    background-position: 0px 0px;
    order: 2;
}

.game__control {
    order: 3;
    border-top: 1px solid #ddd;
}


.game__box table tr td {
    border: 1px solid #111214; /* fallback for browsers without rgba borders */
    border: 1px solid #11121486; 
    color: white;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.game__box > #entity-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.entity {
    position: absolute;
}

.entity--wallBrick {
    
}

.entity--charHead, .entity--charBody {
    display: flex;
    border: 2px rgb(194, 221, 229) solid;
}

.entity--charEyeCavity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entity--charEye {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: rgb(194, 211, 229);
}

@keyframes intro {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes intro {
    from { opacity: 1; }
    to { opacity: 0; }
}