* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #111214;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 50px;
    opacity: 0;
    animation: intro 1s linear;
    -webkit-animation: intro 1s linear;
}

.main-menu {
    display: none;
    width: 50%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.start-level-btn {
    width: 100px;
    height: 25px;
}

.game-box {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    cursor: none;
}

.game-box > div {
    width: 100%;
}

.game-box__stats {
    order: 1;
    border-bottom: 1px solid #ddd;
}

.game-box > table {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background: url("/images/galaxy.jpg");
    background-repeat: repeat;
    background-position: 0px 0px;
    order: 2;
}

.game-box__control {
    order: 3;
    border-top: 1px solid #ddd;
}

.game-box table tr td {
    border: 1px solid #111214;
    color: white;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.game-box > table #entity-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.1);
}

@keyframes intro {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes intro {
    from { opacity: 1; }
    to { opacity: 0; }
}